body {
    background-color: #00daed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    color: #000000;
    text-align: center;
  }
  
  p {
    font-size: 18px;
    color: #115390;
    text-align: center;
  }